/* style.css */
/* Programmé par Michèle */
/* 2019/11/21 */

body {
    width: 800px;
    text-align: center;
    margin: auto;
    background: url(../media/fond.jfif) no-repeat center;
    background-color: #97b3bd;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    color: #25680c;
}

p {
    font-size: 14px;
    text-align: justify;
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color: darkblue;
}

a:hover{
    text-decoration: underline;
    box-shadow: 2px 3px #888888;
}
img{
    width: 350px;
    border: 2px solid #6a60ff;
    border-radius: 25px;
}
table, th, td {
    border: 5px solid black;
    text-align:center;
    color: #e6ed18;
    font-size: 24px;
}
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-size: 30px;
    color: whitesmoke;
}
h3{
    font-size: 22px;
    color: aliceblue;
}