/* style.css */
/* Programmé par Michèle */
/* 2019/11/21 */

body {
    width: 900px;
    text-align: center;
    margin: auto;
    background: url(../media/light.jfif) no-repeat center;
    background-color: #2f323d;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    color: lightblue;
}

p {
    font-size: 14px;
    text-align: justify;
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color: darkblue;
}
a:hover{
    text-decoration: underline;
    box-shadow: 5px 10px #888888;
}
img{
    width: 350px;
    border: 2px solid #6a60ff;
    border-radius: 25px;
}
table, th, td {
    border: 1px solid black;
    text-align:center;
    color: cornflowerblue;
    font-size: 24px;
}
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-size: 30px;
}